.terminal {
  background: black;
  color: white;
  font-family: monospace;
  font-size: 18px;
  overflow: hidden;
  padding: 128px 16px;
  z-index: 12;
  opacity: 1;
  transition: opacity 0.3s;
}
.terminal.invisible {
  opacity: 0 !important;
  pointer-events: none;
}
.terminal-lines {
  margin: auto;
  box-sizing: border-box;
  max-width: 1000px;
  overflow-wrap: anywhere;
}
.terminal .line {
  line-height: 1.333em;
  margin: 0;
  padding: 0;
}
.terminal .prompt::first-letter {
  color: #00ff00;
}

@media screen and (max-width: 1400px) {
  .terminal {
    padding: 64px 16px;
  }
}

@media screen and (max-width: 1000px) {
  .terminal {
    padding: 16px 16px;
  }
}
