@font-face {
  font-family: "NanumMyeongjo";
  src: url("NanumMyeongjo-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "NanumMyeongjo";
  src: url("NanumMyeongjo-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "NanumMyeongjo";
  src: url("NanumMyeongjo-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
